<lib-grid-layout [columns]="'repeat(6, minmax(100px, 1fr))'" [rows]="'repeat(4, 1fr)'" [gap]="'20px'"
    [templateAreas]="templateAreas">
    <div [style.gridArea]="'top-main'" class="grid-item">
        @if (!inventory.$loading()) {
        <lib-inventory-table [isReadonly]="true" [tableData]="inventory.$vehicles()"
            [displayedColumns]="['name', 'type', 'status', 'inTransit']"></lib-inventory-table>
        } @else {
            <p>Loading Inventory...</p>
        }
    </div>
    <div [style.gridArea]="'side-top'" class="grid-item">
        <p>Insert Vehicle List</p>
        <lib-inventory-table></lib-inventory-table>
    </div>
    <div [style.gridArea]="'bottom-main'" class="grid-item">
        <p>gridArea: bottom-main</p>
    </div>
    <div [style.gridArea]="'side-bottom'" class="grid-item">
        <p>gridArea: side-bottom</p>
    </div>
    <div [style.gridArea]="'bottom-right'" class="grid-item">
        <p>{{store.$user()}}</p>
    </div>
</lib-grid-layout>