<lib-grid-layout [columns]="'repeat(6, minmax(100px, 1fr))'" [rows]="'repeat(6, 1fr)'" [gap]="'20px'"
    [templateAreas]="templateAreas">
    <div [style.gridArea]="'top-main'" class="grid-item">
        @if (!inventory.$loading() && !!inventory.$targetVehicle()) {
            <div class="target-container">
                <p>Target: {{inventory.$targetVehicle()?.name}}</p>
                <lib-inventory-table 
                    [isReadonly]="true" 
                    [tableData]="inventory.$targetVehicleComputed().inventory || []"
                    [displayedColumns]="['name', 'quantity', 'target', 'after']" 
                    [afterValues]="inventory.$afterForTarget()" 
                    [maxQty]="inventory.$exceedsMaxQty()">
                </lib-inventory-table>
            </div>
        } @else {
        <p>Loading Inventory...</p>
        }
        <p>Status: {{this.inventory.$isTargetMet() ? 'Valid' : 'Invalid'}}</p>
    </div>
    <div [style.gridArea]="'side-top'" class="grid-item">
        @if (!inventory.$loading()) {
            <div class="vehicle-container">
                <p>All Vehicles:</p>
                <lib-vehicle-table 
                    [isReadonly]="true" 
                    [tableData]="inventory.$vehicles()"
                    [displayedColumns]="['name', 'type', 'status', 'inTransit']">
                </lib-vehicle-table>
            </div>
        } @else {
            <span>
                Loading Vehicles...
            </span>
        }
    </div>
    <div [style.gridArea]="'bottom-main'" class="grid-item">
        <div class="target-container">
            <p>Computed 'After' Value:</p>
            <div class="content-wrapper">
                {{inventory.$afterForTarget() | json}}
            </div>
        </div>
    </div>
    <div [style.gridArea]="'side-bottom'" class="grid-item">
        <div class="target-container">
            <p>Computed Inventory Payload:</p>
            <div class="content-wrapper">
                {{inventory.$inventoryPayload() | json}}
            </div>
        </div>
    </div>
    <div [style.gridArea]="'bottom-right'" class="grid-item">
        <p>{{store.$user()}}</p>
        <p>{{inventory.$getInventoryByVehicle('Ford F-150') | json}}</p>
    </div>
</lib-grid-layout>