:host {
    display: block;
    height: calc(100% - 123px);
    padding: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    box-shadow: 0 2px 5px rgba(197, 162, 162, 0.1);
    border-radius: 4px;
    overflow: auto;

    .vehicle-container {
        display: block;
        height: 100%;
        width: 95%;
        text-align: center;
    }

    .target-container {
        height: 100%;
        width: 95%;
        text-align: center;
        span {
            margin: 1rem 0;
        }
    }
}