<h2 mat-dialog-title>Add Todo</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="category">
      @for (category of categoryOptions; track category) {
      <mat-option [value]="category">{{ category }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dueDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <mat-select [(ngModel)]="weight">
      @for (weight of weightOptions; track weight) {
      <mat-option [value]="weight">{{ weight }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Time Estimate</mat-label>
    <mat-select [(ngModel)]="timeEstimate">
      @for (time of timeEstimateOptions; track time) {
      <mat-option [value]="time.key">{{ time.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="animal()" cdkFocusInitial>
    Ok
  </button> -->
  <button mat-button (click)="onAddTodo()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
