/* You can add global styles to this file, and also import other style files */
/* styles.css */

/* Set some global styles */
html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

h1,
h2,
h3 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'Bokor';
    /* Name to reference the font */
    src: url('fonts/Bokor/Bokor-Regular.ttf') format('truetype');
    /* Path to the TTF file */
}

@font-face {
    font-family: 'CrimsonText';
    /* Name to reference the font */
    src: url('fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
    /* Path to the TTF file */
}

@font-face {
    font-family: 'Lacquer';
    /* Name to reference the font */
    src: url('fonts/Lacquer/Lacquer-Regular.ttf') format('truetype');
    /* Path to the TTF file */
}